.product {
    border: 1px solid #bb3737;
    padding: 10px;
    margin: 10px;
}
.cart {
    border: 1px solid #333;
    padding: 10px;
}
.lam{
    margin: 175px auto 0 auto;
}
*{
    margin: 0;
}
body{
     background-color: white; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}
                                                            /* header top */

/* end header top */ 

                                                            /* header body*/
.header__bodyo-logo-image{
    height: 90px;
    width: auto;
    object-fit: cover;
}
.header__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 75px;
    overflow: hidden;
}
.header__body-search{
    width: 400px;
    display: flex;
}
.header__body-search-input{
    width: 100%;
    line-height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 16px;
    background-color: rgba(128, 128, 128, 0.137);
}
.header__body-contact{
    display: flex;
    align-items: center;
    border: 2px solid rgb(26, 19, 217);
    border-radius: 20px;
    padding: 0 16px;
}
.header__body-contact-content span{
    display: block;
    margin-left: 7px;
}
.header__body-contact-logo-image{
    height: 50px;
    width: auto;
    object-fit: cover;
}
.header__body-cart-logo{
    position: relative;
}
.header__body-cart{
    display: flex;
    align-items: center;
    border: 1px solid red;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 20px;
}
.header__body-cart:hover{
    cursor: pointer;
}
.header__body-cart-content:hover{
    background-color: rgba(237, 9, 9, 0.734);
    color: white;
    border-radius: 10px;
    padding: 20px auto 20px auto;
}
.header__body-account-logo{
    height: 40px;
    width: auto;
    object-fit: cover;
}
.header__body-account{
    display: flex;
    align-items: center;
}
.header__body-account-content span {
    display: block;
    margin-left: 7px;
    padding: 5px;
}
.header__body-search-logo{
    margin-left: 7px;
    margin-top: 15px;
    color:rgba(117, 116, 116, 0.773);
}
.header__body-search-logo:hover{
    cursor: pointer;
    font-size: 30px;
}
.header__body-search-input:hover{
    cursor: pointer;
}
.header__body-cart-content{
    color: rgba(232, 28, 28, 0.927);
}
.header__body-cart-quantity{
    color:white;
    font-size: 13px;
    padding: 2px;
    background-color: rgba(231, 117, 117, 0.721);
    position: relative;
    bottom: 13px;
    right: 5px;
    border-radius: 100%;
}
.header__body-account-content{
    margin-left: 7px;
}
.header__body-account-content-login:hover{
    cursor: pointer;
    background-color:rgba(101, 100, 100, 0.895);
    color: white;
}
.header__body-account-content-register:hover{
    cursor: pointer;
    background-color:rgba(101, 100, 100, 0.895);
    color: white;
}

/* end header body */
                                                    /* header bottom */
/* chỉnh menu */
.header__bottom{
    background-color: #333;
    height: 70px;
    box-sizing: border-box;
}
 .header__bottom ul{
    text-align: center;
}
.header__bottom ul li {
    display: inline-block;
    padding: 21px;

}
.header__bottom ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 550;
     margin-right: 70px; 
     margin-left: 70px;
}
.header__bottom ul li a i{
    margin-right: 10px;
    text-align: center;
}

.header__bottom ul li:hover {
    background-color: rgb(239, 104, 104);
    cursor: pointer;
    
   
} 
/* CSS cơ bản cho menu */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.menu-toggle {
    display: none;  
    cursor: pointer;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 550;
}


/* CSS cho menu responsive */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;

        background-color: #333;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
/* end menu */
/* CSS cho nút toggle menu */
/* chỉnh ảnh */
.item .it {
    flex: auto;
    width: 80%;
    height: 50%;
    
}
#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:50px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

.container-image-product{
    display: flex;
    width: 1300px;
    margin: 175px auto 0 auto;
    height: 550px;
   
}
.image-product-left-only{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.image-product-right img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.image-product-right{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7px;
    align-items: center;
}
.image-product-bottom{
    margin: 0;
    padding: 0;
}
/* end image product  */
                                /* main  */
main{
    width: 1300px;
    margin: 0 auto;
}
#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#626a67;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top: 20px;
}
#list-products .item .name1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
#list-products .item .desc1{
    text-align: center;
    color: #626a67;
}
#list-products .item .discount{
    text-align: center;
    color: #ffffff6d;
    text-decoration-line: line-through;
}
#list-products .item .price1{
    text-align: center;
    color: #f42424;
    font-weight: bold;
    margin-top: 10px;
}

.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}




/* end main */
.container__content-footer{
    padding-top: 12px;
    background-color:rgba(18, 17, 17, 0.907);
    margin-top: 50px;
}
.footer__content{
    width: 1300px;
    margin: 0 auto;
}
.footer__content-top{
    display: flex;
    width: 100%;
}
.footer__content-topleft{
    flex: 25%;

}
.footer__content-topleft div{
    color: #ffffffd3;
    font-size: 14px;
    padding-right: 48px;
    padding-bottom: 6px;
    line-height: 1.5;
    font-weight: 250;
}
.footer__content-topleft-logotop{
    height: 60px;
    width: auto;
    object-fit: cover;
    border-radius: 100%;
}

.footer__content-topleft-logobottom{
    height: 60px;
    width: auto;
    object-fit: cover;
}
.footer__content-topright1{
    flex: 25%;
}
.footer__content-topright-title{
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #767575;
}
.footer__content-topright1 a{
    display: block;
    font-weight: 250;
    color: #ffffffd3;
    font-size: 14px;
    padding-right: 48px;
    padding-bottom: 6px;
    line-height: 1.5;
    text-decoration: none;
}
.logo-contact{
    display: flex;
    align-items: center;
}
.logo-contact a{
    padding: 0;
    margin-right: 7px;
}
.facebookkk{
    color: white;
    background-color: rgb(97, 97, 245);
    border-radius: 100%;
    font-size: 30px;
    padding: 0;
}
.youtubeee{
    color: white;
    border-radius: 100%;
    font-size: 30px;
    padding: 0;
}
.instagrammm{
    color: white;
    border-radius: 100%;
    font-size: 30px;
    padding: 0;
}
.specical{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 18px;
    line-height: 1.5;
    color: #767575;   
}
.footer__content-topright1 a:hover{
    cursor: pointer;
    color: rgb(203, 10, 10);
}